.body{
    background: #f0f2f5;
    height: 100%;
}
#root{
    height: 100%;
}
.header{
    background: #fff;
    border-bottom: 1px solid #fff;
}

.content{
    margin:10px;
    min-height: 550px;
}

.footer{
    padding: 12px 50px !important;
    text-align: center;
    border-top: 1px solid #fff;
}
